@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/pink-sunset');
